*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

#home-heading {
  font-size: 4.5rem;
  text-align: center;
  margin-top: 18.75rem;
}

#recipe-links {
  text-align: center;
  list-style: none;
}

.home-link {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
}